<html>
<head>
    <title>Index HTML</title>
    <link rel="stylesheet" href="static/styles.css" />
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        // NETWORKING AND SOCKETIO CODE
        var socket = io();
        socket.on('confirm', function(data) {
            // confirms events such as client connection to the server
            console.log(data);
        });
    </script>
</head>

<body>
<canvas id="myCanvas">
</canvas>
<script>
    // GAME CONTROL

    var canvas = document.getElementById("myCanvas"); // Canvas
    var context = canvas.getContext("2d"); // 2d context
    context.canvas.width  = window.innerWidth;
    context.canvas.height = window.innerHeight;

    var deltaX = 0, deltaY = 0;
    drawCircle();

    window.addEventListener("keydown", keysPressed, false);
    window.addEventListener("keyup", keysReleased, false);

    var keys = [];
    function keysPressed(e) {
        // store an entry for every key pressed
        keys[e.keyCode] = true;
        // left
        if (keys[37]) {
          deltaX -= 2;
        }
        // right
        if (keys[39]) {
          deltaX += 2;
        }
        // down
        if (keys[38]) {
          deltaY -= 2;
        }
        // up
        if (keys[40]) {
          deltaY += 2;
        }
        e.preventDefault();
        drawCircle();
    }

    function keysReleased(e) {
        // mark keys that were released
        keys[e.keyCode] = false;
    }       

    function drawCircle() {
        console.log(canvas.width, canvas.height);
        context.clearRect(0, 0, canvas.width, canvas.height);

        context.beginPath();
        context.arc(canvas.width/2 + deltaX, canvas.height/2 + deltaY, 50, 0, 2 * Math.PI, false);
        context.fillStyle = 'blue';
        context.fill();
        context.closePath();
    }
</script>
</body>
</html>