<html>
<head>
    <title>Index HTML</title>
    <link rel="stylesheet" href="static/styles.css" />
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var c = document.getElementById("myCanvas"); // Canvas
        var socket = io();
        socket.on('my response', function(data) {
            // update things here?
            console.log(data);
        });
    </script>
</head>

<body class="background">
<canvas id="myCanvas" style="width: 100%; height: 100%; border:1px solid #000000;">



</canvas>
</body>
</html>